/build/
/dist/
/.idea/
/assets/
app.spec
roco_user_data.json
/debug_caps/
/debug/
tree.txt
keys/
/robot
/setup.iss
/Output/
/frontend/dist/
/frontend/node_modules/
/frontend/build/
/frontend/.env*
/frontend/.idea/
*.pth
/ocr_models/
/onnx/
/yolo/dataset/
/static/
/.codex/
